a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
   }
/* Header */
.header-contacts {
    font-style: normal;
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    ;color: #2e2f42;
    
}

.header-menu-link:hover,:focus {
    color: #404bbf;
}
.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-contacts-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
}

.header-contacts-address:hover,:focus {
    color: #404bbf;
}
/* Hero*/
.hero {

    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
        line-height: 1.07;
letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;

}



.hero-btn:hover,
:focus {
    cursor: pointer;
    background-color: #404BBF;
}
/* About */


.about-advantages {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.about-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
}

/* Team */

.team {
    background: #f4f4fd;
}

.team-item {
    background: #FFFFFF;
}

.team-logo {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
   text-align: center;
letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        
}

.team-text {
    line-height: 1.5;
letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


/* Portfolio */



.portfolio-logo {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #434455;
}



/* Footer */

.footer {
    
        background: #2e2f42;
}

.footer-name {
    font: 700 18px / 1.16667 "Raleway", sans-serif;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-logo{
    font: 700 18px / 1.16667 "Raleway", sans-serif;
    line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
    line-height: 1.5;
letter-spacing: 0.02em;
    color: #f4f4fd;
}